<a routerLink="/admin/cadastrar-funcionario" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar</a>
<h1>Lista de funcionarios</h1>
<div class="row">
  <div class="col-9">
    <div class="mb-2">
      <form class="form-inline" #formPesquisa="ngForm" (submit)="pesquisar()">
        <div class="col-12 p-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar por..." aria-label="Pesquisar por..." name="q" [(ngModel)]="q">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" width="80">Código</th>
          <th scope="col">Pessoa</th>
          <th scope="col" width="80">Tipo</th>
          <!--<th scope="col" width="80">Cargo</th>-->
          <th scope="col" width="120">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <th scope="row">{{funcionario.codigo}}</th>
          <td>{{funcionario.pessoa.nome}}</td>
          <td>{{funcionario.tipo}}</td>
          <!--<td>{{funcionario.cargo.nome}}</td>-->
          
          <td>
            <button class="btn btn-danger btn-sm" (click)="excluir(funcionario)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-primary btn-sm" (click)="abrir(funcionario)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <div>
      <h4>Filtrar</h4>
      <h5>Por ano</h5>
      <ul>
        <li>
          <a href="javascript:void(0)" [class.filtro-ativo]="!filtroPorTipo" (click)="removerFiltroPorTipo()">Todos</a>
        </li>
        <li *ngFor="let tipo of tipos">
          <a href="javascript:void(0)" [class.filtro-ativo]="filtroPorTipo === tipo" (click)="filtrarPorTipo(tipo)">{{tipo}}</a>
        </li>
      </ul>
      </div>
  </div>
</div>