<a routerLink="/admin/frequencias/cadastrar" class="btn btn-primary pull-right">
  <i class="fa fa-plus"></i> Cadastrar</a>
<h1>Relatório de frequência</h1>
<div class="row">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Turma</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Professor</th>
        <th scope="col">Aluno</th>
        <th scope="col">Presença</th>
        <th scope="col">Falta</th>

   
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of frequencias">
        <td>{{item.turma.codigo}}</td>
        <td>{{item.disciplina.nome}}</td>
        <td>{{item.professor.nome}}</td>
        <td>{{item.aluno.nome}}</td>
        <td class="text-center">
          <p *ngIf="item.status === 'P'">1</p>
          <p *ngIf="item.status != 'P'">-</p>
        </td>
        <td class="text-center">
          <p *ngIf="item.status === 'F'">1</p>
          <p *ngIf="item.status != 'F'">-</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>