<a routerLink="/admin/funcoes/0/novo" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar</a>
<h1>Lista de funções</h1>
<hr>
<div class="alert alert-success" *ngIf="excluir_ok">
    <strong>Sucesso!</strong> A função foi excluída com sucesso.
</div>
<div class="alert alert-danger" *ngIf="excluir_erro">
    <strong>Ops!</strong> Ocorreu um erro ao tentar excluir a função. Aguarde alguns instantes e tente novamente.
</div>
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th width="80">#</th>
        <th>Nome</th>
        <th width="250">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let funcao of funcoes">
        <td>{{funcao.id}}</td>
        <td>{{funcao.nome}}</td>
        <td>
            <a [routerLink]="['/admin/funcoes', funcao.id]" class="btn btn-primary btn-sm">Abrir</a>
            <a [routerLink]="['/admin/funcoes', funcao.id, 'editar']" class="btn btn-secondary btn-sm">Editar</a>
            <a href="javascript:void(0)" class="btn btn-danger btn-sm" (click)="excluir(funcao)">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
