<h1>Cadastro de funcionário</h1>
<div class="alert alert-success" *ngIf="cadastro_ok">
  <strong>Cadastro realizado com sucesso! </strong> <a routerLink="/admin/funcionarios">Voltar para a lista dos funcionários</a>
</div>
<div class="alert alert-danger" *ngIf="cadastro_erro">
  <strong>Opa!</strong> Aconteceu um erro ao tentar fazer o cadastro. Aguarde alguns instantes e tente novamente.
</div>
<form #cadastro="ngForm" (submit)="salvar()">
  <label for="tipo">Tipo:  </label>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" name="tipo" id="tipo" value="Administrativo" [(ngModel)]="tipo" required> Administrativo
      </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Docente" [(ngModel)]="tipo" required> Docente
        <!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Docente-->
      </label>
  </div>
  <div class="form-group">
    <label for="codigo">Código</label>
    <input type="text" name="codigo" id="codigo" class="form-control" [(ngModel)]="codigo" required>
  </div>
  <div class="form-group">
    <label for="pessoa">Pessoa</label>
    <select name="pessoa" id="pessoa" class="form-control" [(ngModel)]="pessoa" required>
          <option>...</option>
          <option *ngFor="let pessoa of pessoas" [value]="pessoa.id">{{pessoa.nome}}</option>
        </select>
  </div>
  <div class="form-group">
      <label for="cargo">Cargo</label>
      <select name="cargo" id="cargo" class="form-control" [(ngModel)]="cargo" required>
            <option>...</option>
            <option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.nome}}</option>
          </select>
    </div>
  <button class="btn btn-primary" [disabled]="!cadastro.valid">Salvar</button>
</form>
<!--public id: number,
              public codigo: string,
              public pessoa: Pessoa,
              public tipo: String-->